.addRecipe {
    background-color: var(--main-bg-color);
    width: calc(var(--app-max-width)*0.6);
    position: relative;
    margin: auto;
}

@media screen and (max-width:600px) {
    .addRecipe {
        width: 100vw;
    }

}