.recipeSingle {
    min-width: 60vw;
    min-height: 80vh;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.slim {
    line-height: 1rem;

}

h2 {
    text-align: center;
}

.loading {
    color: black;
    font-size: 3rem;
}

.recipeSingle img {
    width: 60vw;
    height: auto;
    margin: auto;
}

.recipeSingle h3 {
    margin: 0.5rem;
    text-align: left;
}

.ingredients td,
.directions li {
    text-align: left;
    padding: 0.2rem;

}

.description h3,
p {
    text-align: center;
    padding: 0.3rem;
    margin: 0.5rem;
}

@media print {
    .recipeSingle img {
        display: none;
    }

}