.card {
    height: 320px;
    width: 240px;
    border-radius: 15px;
    border: 2px solid darkgray;
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
    padding: 0.2rem;
    align-items: center;
    align-content: center;
    position: relative;
}

.flag {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: gray;
}

.flag img {
    height: 100%;
    object-fit: cover;

}

.card img {
    flex: 60%;
    width: 230px;
    height: 190px;
    object-fit: cover;
    border-radius: 15px;
}

.card>div {
    flex: 20%;

    align-items: center;

}


.card h4 {
    line-height: 1rem;
    text-align: center;
    margin: 1rem 0;
}



.card a button {
    height: 40px;
    width: 160px;
    border-radius: 25px;
    background-color: var(--teal);
    color: var(--black);
    box-shadow: 1px 2px 2px rgb(25, 29, 16);
    font-weight: 600;
    font-size: 1.1rem;
    flex: 20%;
}



@media screen and (max-width: 600px) {
    .card {
        height: 50vh;
        max-width: 85vw;
    }

}