.flag {
    height: 50px;
    width: 50px;
    border-radius: 80%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
}

.flag img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;

}