.footer {
    height: 10rem;
    max-width: var(--app-max-width);
    background: linear-gradient(to top right, var(--footer-bg-color-1), var(--footer-bg-color-2));
    padding-top: 5rem;
    color: white;
    

}