.formDiv {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 2px 3px 5px var(--black), 2px 3px 9px darkgray;
    border-radius: 10px;
    padding: 1rem;

}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.squash {
    display: flex;
    justify-content: left;
    width: 60%;
    float: right;
}

.squash button {
    height: 50px;
    width: 190px;
}

.block {
    display: flow-root;
    clear: both;
    margin: auto;
}

.inline-block {
    display: inline-block;
    clear: both;
}

.ingredient {
    max-width: 180px;
    float: left;
}

.form label {
    width: 180px;
    text-align: left;
    font-family: inherit;
    cursor: pointer;
    margin: 0.2rem 1rem;
    float: left;
    vertical-align: top;
    clear: inline-start;
    line-height: 20px;

}

.textareaLabel {
    vertical-align: top;
    text-align: left;
    float: left;
}

.textareaLabelHidden {
    display: none;
}

.form input,
select,
textarea,
input[type="url"] {
    width: 400px;
    min-height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px darkgray;
    border: none;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    font-family: inherit;

}

input[type="text"],
input[type="number"] {
    text-align: center;
}

.form textarea {
    min-height: 70px;
    resize: vertical;
}

.form button {
    clear: both;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    padding: 0 0.4rem;
    border: none;
    box-shadow: 1px 1px 1px darkgray;
    font-weight: 600;
    margin: 1rem;
}

.form button:hover {
    background-color: var(--mediumgold);
}


.form button:active {
    background-color: var(--palegold);
}

.form button[type='submit'] {
    background-color: var(--teal);

}

.form button[type='submit']:hover {
    background-color: var(--green);

}

.form button[type='submit']:active {
    background-color: var(--green);

}

.form button.discard {
    background-color: var(--orange);

}

.form button.discard:hover {
    background-color: var(--mediumgold);

}

.form button.discard:active {
    background-color: var(--palegold);

}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
}

.remove {
    max-width: 50px;
    height: 40px;
    font-weight: 600;
}

.directionInput {
    float: right;
    min-height: 50px;
}

.inputSmallarea {
    max-width: 90px;
    flex: 1;
}

label h4 {
    margin: 1rem 0;
}

@media screen and (max-width: 600px) {
    .form {
        max-width: 80vw;
    }

    .formDiv {
        max-width: 95vw;
        padding: 0;
        margin: 2%;
    }

    .label {
        display: block;
    }

    .form input,
    select,
    textarea,
    input[type="url"] {
        max-width: 300px;
        min-height: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px darkgray;
        border: none;
        margin: 0.5rem 1rem;
        padding: 0.5rem;
        font-family: inherit;

    }

    .flex {
        display: inline-block;
    }

    .directionsInput {
        float: none;
    }

    .block {
        display: inline-block;
        margin: auto;
    }
}