.formDiv {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 2px 3px 5px var(--black), 2px 3px 9px darkgray;
    border-radius: 10px;
    padding: 1rem;

}

.form label {
    width: 180px;
    text-align: left;
    font-family: inherit;
    cursor: pointer;
    margin: 0.5rem 1rem;
    float: left;
    vertical-align: center;

}

.ingredients {
    display: flex;

}

.ingredient {
    max-width: 180px;
}

.form input,
select,
textarea {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px darkgray;
    border: none;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    text-align: top;
    font-family: inherit;

}

.form input[type=file] {
    display: none;
    border-radius: 10px;

}

.form textarea {
    height: 90px;
    resize: vertical;

}

.form button {
    border-radius: 10px;
    height: 35px;
    min-width: 150px;
    font-size: 1rem;
    padding: 0 0.4rem;
    border: none;
    box-shadow: 1px 1px 1px darkgray;
    font-weight: 600;
    margin: 1rem;

}

.textareaLabel {
    line-height: 90px;
    vertical-align: top;
}

.textareaLabelHidden {
    display: none;
}

.inputSmallarea {
    max-width: 90px;
}


@media screen and (max-width: 600px) {
    .form {
        width: 100vw;
    }

    .label {
        display: block;
    }
}