.main {
    min-height: 30vh;
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 1rem;
    margin: auto;

}

@media screen and (max-width:600px) {
    .main {
        min-height: 100vh;
    }


}