.nav {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 1rem;
}

.nav .menu {
    display: none;
}

.nav ul {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


nav .menuIcon {
    display: none;
    font-family: 'Material Symbols Outlined';
    font-size: 2.5rem;
    line-height: 70px;
    cursor: pointer;
    padding: 0 1rem;
}

nav .menuIcon:hover {
    color: var(--orange);
}

nav .menuIcon:active {
    color: var(--palegold);
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;

}


.title {
    padding-left: 2rem;
    text-align: left;

}

.title a {
    line-height: 70px;
    text-align: left;
    font-family: 'Londrina Outline', sans-serif;
    font-weight: 800;
}

.nav a:hover {
    color: var(--black);
}

@media screen and (max-width:600px) {

    .nav {
        width: 100vw;
    }

    .nav .menuIcon {
        display: block;
    }

    .nav .menu {
        height: 70px;
        text-align: right;
        display: inline-block;
    }

    .nav ul.responsive {
        background: linear-gradient(to right top, rgba(255, 255, 255, 1), rgba(215, 215, 215, 0.9));
        box-shadow: 2px 3px 5px var(--brown);
        border-radius: 30px;
        display: block;
        width: 70vw;
        height: 40vh;
        transition: height 1s;
        padding: 1.5rem;
        border-radius: 10px;
        z-index: 3;
        position: absolute;
        right: 0;
    }

    .nav ul.responsive li a {
        color: var(--black);
        font-size: 2rem;
        line-height: 3.5rem;
        transition: 1s;
    }

}