.nav {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 1rem;

}

.nav ul {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;

}

.title {
    padding-left: 2rem;
    text-align: left;

}

.title a {
    line-height: 70px;
    text-align: left;
    font-family: 'Londrina Outline';
    font-weight: 800;
}

.nav a:hover {
    color: var(--black);
}