.nav {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 1rem;

}

.nav.responsive ul li a {
    display: none;

}

.nav ul {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menuIcon {
    display: none;
    font-family: 'Material Symbols Outlined';
    font-size: 2.5rem;
    float: right;
    line-height: 70px;
    padding-right: 1.5rem;
    cursor: pointer;

}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;

}

.title {
    padding-left: 2rem;
    text-align: left;

}

.title a {
    line-height: 70px;
    text-align: left;
    font-family: 'Londrina Outline';
    font-weight: 800;
}

.nav a:hover {
    color: var(--black);
}

@media screen and (max-width:600px) {

    .nav {
        width: 100vw;
    }

    .nav ul {
        display: none;
    }

    .nav .menuIcon {
        display: block;
    }

    #menu.responsive ul li a {
        background-color: rgb(14, 14, 41);
        display: block;
        width: 100%;
        color: white;
        border-radius: 10px;
    }
}