.popup {
    max-width: 45vw;
    border-radius: 30px;
    height: 16rem;
    margin: 1rem;
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 2px 3px 5px var(--black), 2px 3px 9px darkgray;
    padding: 1rem;
    line-height: 1.3rem;
    position: absolute;
    top: 200px;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}


.popup button,
.discard button {

    border-radius: 10px;
    height: 35px;
    min-width: 150px;
    font-size: 1rem;
    padding: 0 0.4rem;
    border: none;
    box-shadow: 1px 1px 1px darkgray;
    font-weight: 600;
    margin: 1rem;


}