.popup {
    width: 60vw;
}

.discard {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.discard button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
}