:root {
  --app-max-width: 1400px;
  --main-bg-color: rgb(245,245,245);
  --header-bg-color: beige;
  --footer-bg-color-1: rgb(87, 31, 6);
  --footer-bg-color-2: rgb(65, 21, 1);
  --black:  rgb(29, 32, 46);
}
/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}